data/
models/
results/
mlruns/
tests/
scripts/
outputs/
multirun/

.git/
.github/
.venv/
venv/

.env
.env.*
.DS_Store

**/__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

*.egg-info/
build/
dist/

Dockerfile
.dockerignore
docker-compose.yml